{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1 >Editer un type de depense</h1>
        {{ include('typedepense/_form.html.twig',{button:'Créer'}) }}
    </div>
{% endblock %}


